<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<title>layui</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet"
	href="/css/iconfont.css" media="all">
	
	<link rel="stylesheet"
	href="/css/demo.css" media="all">
	
	<link rel="stylesheet"
	href="/common/layui/css/layui.css" media="all">
<!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>

<body>	
	<div class="main markdown">
        <h1>账号 图标</h1>
        <ul class="icon_lists clear">
            
                <li>
                <i class="icon iconfont icon-duigouxuanzhong"></i>
                    <div class="name">对勾选中</div>
                    <div class="fontclass">.icon-duigouxuanzhong</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-guanbi"></i>
                    <div class="name">关闭</div>
                    <div class="fontclass">.icon-guanbi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shangchuan"></i>
                    <div class="name">上传</div>
                    <div class="fontclass">.icon-shangchuan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-pingjia"></i>
                    <div class="name">评价</div>
                    <div class="fontclass">.icon-pingjia</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-caifuhao"></i>
                    <div class="name">财富号</div>
                    <div class="fontclass">.icon-caifuhao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-bangzhuyufankui"></i>
                    <div class="name">帮助与反馈</div>
                    <div class="fontclass">.icon-bangzhuyufankui</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shoucangyuguanzhu"></i>
                    <div class="name">收藏与关注</div>
                    <div class="fontclass">.icon-shoucangyuguanzhu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shezhi"></i>
                    <div class="name">设置</div>
                    <div class="fontclass">.icon-shezhi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-tuiguang"></i>
                    <div class="name">推广</div>
                    <div class="fontclass">.icon-tuiguang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-tongji"></i>
                    <div class="name">统计</div>
                    <div class="fontclass">.icon-tongji</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-wodedingdan"></i>
                    <div class="name">我的订单</div>
                    <div class="fontclass">.icon-wodedingdan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-wentizixun"></i>
                    <div class="name">问题咨询</div>
                    <div class="fontclass">.icon-wentizixun</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xiazai"></i>
                    <div class="name">下载</div>
                    <div class="fontclass">.icon-xiazai</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-wodeyue"></i>
                    <div class="name">我的余额</div>
                    <div class="fontclass">.icon-wodeyue</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xiaoxizhongxin"></i>
                    <div class="name">消息中心</div>
                    <div class="fontclass">.icon-xiaoxizhongxin</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xuexixingqu"></i>
                    <div class="name">学习兴趣</div>
                    <div class="fontclass">.icon-xuexixingqu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yinhangqia"></i>
                    <div class="name">银行卡</div>
                    <div class="fontclass">.icon-yinhangqia</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-youhuiquan"></i>
                    <div class="name">优惠券</div>
                    <div class="fontclass">.icon-youhuiquan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zaixianmianliuliang"></i>
                    <div class="name">在线免流量</div>
                    <div class="fontclass">.icon-zaixianmianliuliang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zhanghaobangding"></i>
                    <div class="name">账号绑定</div>
                    <div class="fontclass">.icon-zhanghaobangding</div>
                </li>
            
        </ul>

    </div>
	
	
	
	<div class="main markdown">
        <h1>功能线性 图标</h1>
        <ul class="icon_lists clear">
            
                <li>
                <i class="icon iconfont icon-fenxiang"></i>
                    <div class="name">分享2</div>
                    <div class="fontclass">.icon-fenxiang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dianzan"></i>
                    <div class="name">点赞1</div>
                    <div class="fontclass">.icon-dianzan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shanchu"></i>
                    <div class="name">删除</div>
                    <div class="fontclass">.icon-shanchu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-bofang"></i>
                    <div class="name">播放</div>
                    <div class="fontclass">.icon-bofang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zanting"></i>
                    <div class="name">暂停</div>
                    <div class="fontclass">.icon-zanting</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zanting1"></i>
                    <div class="name">暂停</div>
                    <div class="fontclass">.icon-zanting1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-wancheng"></i>
                    <div class="name">完成</div>
                    <div class="fontclass">.icon-wancheng</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shijian"></i>
                    <div class="name">时间</div>
                    <div class="fontclass">.icon-shijian</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-quxiao"></i>
                    <div class="name">取消</div>
                    <div class="fontclass">.icon-quxiao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-lvhangxiang"></i>
                    <div class="name">旅行箱</div>
                    <div class="fontclass">.icon-lvhangxiang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dui"></i>
                    <div class="name">对</div>
                    <div class="fontclass">.icon-dui</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-you"></i>
                    <div class="name">右</div>
                    <div class="fontclass">.icon-you</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-cuo"></i>
                    <div class="name">错</div>
                    <div class="fontclass">.icon-cuo</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xia"></i>
                    <div class="name">下</div>
                    <div class="fontclass">.icon-xia</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shang"></i>
                    <div class="name">上</div>
                    <div class="fontclass">.icon-shang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zuo"></i>
                    <div class="name">左</div>
                    <div class="fontclass">.icon-zuo</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-qianbao"></i>
                    <div class="name">钱包</div>
                    <div class="fontclass">.icon-qianbao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yuyin"></i>
                    <div class="name">语音</div>
                    <div class="fontclass">.icon-yuyin</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-rili"></i>
                    <div class="name">日历</div>
                    <div class="fontclass">.icon-rili</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-qiandai"></i>
                    <div class="name">钱袋</div>
                    <div class="fontclass">.icon-qiandai</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shezhi"></i>
                    <div class="name">设置</div>
                    <div class="fontclass">.icon-shezhi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shengyin"></i>
                    <div class="name">声音</div>
                    <div class="fontclass">.icon-shengyin</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-wangye"></i>
                    <div class="name">网页</div>
                    <div class="fontclass">.icon-wangye</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-wangye1"></i>
                    <div class="name">网页1</div>
                    <div class="fontclass">.icon-wangye1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-wangye2"></i>
                    <div class="name">网页2</div>
                    <div class="fontclass">.icon-wangye2</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-gengduo"></i>
                    <div class="name">更多</div>
                    <div class="fontclass">.icon-gengduo</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-gengduo1"></i>
                    <div class="name">更多1</div>
                    <div class="fontclass">.icon-gengduo1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-gengduo2"></i>
                    <div class="name">更多2</div>
                    <div class="fontclass">.icon-gengduo2</div>
                </li>
                
                <li>
                <i class="icon iconfont icon-baoming"></i>
                    <div class="name">报名</div>
                    <div class="fontclass">.icon-baoming</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dizhi"></i>
                    <div class="name">地址</div>
                    <div class="fontclass">.icon-dizhi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dianpu"></i>
                    <div class="name">店铺</div>
                    <div class="fontclass">.icon-dianpu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dingdan"></i>
                    <div class="name">订单</div>
                    <div class="fontclass">.icon-dingdan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-erweima"></i>
                    <div class="name">二维码</div>
                    <div class="fontclass">.icon-erweima</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-faxian"></i>
                    <div class="name">发现</div>
                    <div class="fontclass">.icon-faxian</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-fenxiang"></i>
                    <div class="name">分享</div>
                    <div class="fontclass">.icon-fenxiang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-fenlei"></i>
                    <div class="name">分类</div>
                    <div class="fontclass">.icon-fenlei</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-huiyuan"></i>
                    <div class="name">会员</div>
                    <div class="fontclass">.icon-huiyuan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-huodong"></i>
                    <div class="name">活动</div>
                    <div class="fontclass">.icon-huodong</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jifen"></i>
                    <div class="name">积分</div>
                    <div class="fontclass">.icon-jifen</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-gouwuche"></i>
                    <div class="name">购物车</div>
                    <div class="fontclass">.icon-gouwuche</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-ganxingqu"></i>
                    <div class="name">爱心</div>
                    <div class="fontclass">.icon-ganxingqu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-liuyan"></i>
                    <div class="name">留言</div>
                    <div class="fontclass">.icon-liuyan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jibenziliao"></i>
                    <div class="name">基本资料</div>
                    <div class="fontclass">.icon-jibenziliao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-pinzhijiance"></i>
                    <div class="name">品质检测</div>
                    <div class="fontclass">.icon-pinzhijiance</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-saoyisao"></i>
                    <div class="name">扫一扫</div>
                    <div class="fontclass">.icon-saoyisao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shezhi"></i>
                    <div class="name">设置</div>
                    <div class="fontclass">.icon-shezhi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-lianxi"></i>
                    <div class="name">联系</div>
                    <div class="fontclass">.icon-lianxi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shouye"></i>
                    <div class="name">首页</div>
                    <div class="fontclass">.icon-shouye</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shoucang"></i>
                    <div class="name">收藏</div>
                    <div class="fontclass">.icon-shoucang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-tupian"></i>
                    <div class="name">图片</div>
                    <div class="fontclass">.icon-tupian</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-wode"></i>
                    <div class="name">我的</div>
                    <div class="fontclass">.icon-wode</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xinfeng"></i>
                    <div class="name">信封</div>
                    <div class="fontclass">.icon-xinfeng</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-wodeyaoqing"></i>
                    <div class="name">我的邀请</div>
                    <div class="fontclass">.icon-wodeyaoqing</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-youhuiquan"></i>
                    <div class="name">优惠券</div>
                    <div class="fontclass">.icon-youhuiquan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-wodeguanzhu"></i>
                    <div class="name">我的关注</div>
                    <div class="fontclass">.icon-wodeguanzhu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zixunzhongxin"></i>
                    <div class="name">资讯中心</div>
                    <div class="fontclass">.icon-zixunzhongxin</div>
                </li>
            
        </ul>

    </div>
        
		    <div class="main markdown">
        <h1>常用 图标</h1>
        <ul class="icon_lists clear">
            
                <li>
                <i class="icon iconfont icon-ceju"></i>
                    <div class="name">测距</div>
                    <div class="fontclass">.icon-ceju</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-cemian"></i>
                    <div class="name">测面</div>
                    <div class="fontclass">.icon-cemian</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-bianji"></i>
                    <div class="name">编辑</div>
                    <div class="fontclass">.icon-bianji</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dajimubiao"></i>
                    <div class="name">打击目标</div>
                    <div class="fontclass">.icon-dajimubiao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-fuwu"></i>
                    <div class="name">服务</div>
                    <div class="fontclass">.icon-fuwu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-liebiaobianji"></i>
                    <div class="name">列表编辑</div>
                    <div class="fontclass">.icon-liebiaobianji</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-liebiaobianji_"></i>
                    <div class="name">列表编辑_2</div>
                    <div class="fontclass">.icon-liebiaobianji_</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-liebiaochakan"></i>
                    <div class="name">列表查看</div>
                    <div class="fontclass">.icon-liebiaochakan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-liebiaochakan_"></i>
                    <div class="name">列表查看_2</div>
                    <div class="fontclass">.icon-liebiaochakan_</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-liebiaodaochushangchuan"></i>
                    <div class="name">列表导出、上传</div>
                    <div class="fontclass">.icon-liebiaodaochushangchuan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-liebiaodaochushangchuan_"></i>
                    <div class="name">列表导出、上传_2</div>
                    <div class="fontclass">.icon-liebiaodaochushangchuan_</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-liebiaoquerengouxuan"></i>
                    <div class="name">列表确认、勾选</div>
                    <div class="fontclass">.icon-liebiaoquerengouxuan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-liebiaoquerengouxuan_"></i>
                    <div class="name">列表确认、勾选_2</div>
                    <div class="fontclass">.icon-liebiaoquerengouxuan_</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-liebiaoshanchuquxiao"></i>
                    <div class="name">列表删除、取消</div>
                    <div class="fontclass">.icon-liebiaoshanchuquxiao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-liebiaoshanchuquxiao_"></i>
                    <div class="name">列表删除、取消_2</div>
                    <div class="fontclass">.icon-liebiaoshanchuquxiao_</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-liebiaoshanchu"></i>
                    <div class="name">列表删除</div>
                    <div class="fontclass">.icon-liebiaoshanchu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-liebiaoshanchu_"></i>
                    <div class="name">列表删除_2</div>
                    <div class="fontclass">.icon-liebiaoshanchu_</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-liebiaoshouqi"></i>
                    <div class="name">列表收起</div>
                    <div class="fontclass">.icon-liebiaoshouqi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-liebiaoshouqi_"></i>
                    <div class="name">列表收起_2</div>
                    <div class="fontclass">.icon-liebiaoshouqi_</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-liebiaozhankaitianjia"></i>
                    <div class="name">列表展开、添加</div>
                    <div class="fontclass">.icon-liebiaozhankaitianjia</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-liebiaozhankaitianjia_"></i>
                    <div class="name">列表展开、添加_2</div>
                    <div class="fontclass">.icon-liebiaozhankaitianjia_</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-putongwenjianjia"></i>
                    <div class="name">普通文件夹</div>
                    <div class="fontclass">.icon-putongwenjianjia</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-quanping"></i>
                    <div class="name">全屏</div>
                    <div class="fontclass">.icon-quanping</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shang"></i>
                    <div class="name">上</div>
                    <div class="fontclass">.icon-shang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shouji"></i>
                    <div class="name">手机</div>
                    <div class="fontclass">.icon-shouji</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shoujiqueren"></i>
                    <div class="name">手机确认</div>
                    <div class="fontclass">.icon-shoujiqueren</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shoujishanchuquxiao"></i>
                    <div class="name">手机删除、取消</div>
                    <div class="fontclass">.icon-shoujishanchuquxiao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-wenjianjiadakai"></i>
                    <div class="name">文件夹打开</div>
                    <div class="fontclass">.icon-wenjianjiadakai</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xia"></i>
                    <div class="name">下</div>
                    <div class="fontclass">.icon-xia</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xiaoxi"></i>
                    <div class="name">消息</div>
                    <div class="fontclass">.icon-xiaoxi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yanshibofang"></i>
                    <div class="name">演示播放</div>
                    <div class="fontclass">.icon-yanshibofang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yewu"></i>
                    <div class="name">业务</div>
                    <div class="fontclass">.icon-yewu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yidong"></i>
                    <div class="name">移动</div>
                    <div class="fontclass">.icon-yidong</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zhuashou"></i>
                    <div class="name">抓手</div>
                    <div class="fontclass">.icon-zhuashou</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zhuashou_"></i>
                    <div class="name">抓手_2</div>
                    <div class="fontclass">.icon-zhuashou_</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-danjiantoushang"></i>
                    <div class="name">单箭头上</div>
                    <div class="fontclass">.icon-danjiantoushang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-daochu"></i>
                    <div class="name">导出</div>
                    <div class="fontclass">.icon-daochu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-daoru"></i>
                    <div class="name">导入</div>
                    <div class="fontclass">.icon-daoru</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-ditu"></i>
                    <div class="name">地图</div>
                    <div class="fontclass">.icon-ditu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-fanhui"></i>
                    <div class="name">返回</div>
                    <div class="fontclass">.icon-fanhui</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dianhua"></i>
                    <div class="name">电话</div>
                    <div class="fontclass">.icon-dianhua</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-fanhuidingbu"></i>
                    <div class="name">返回顶部</div>
                    <div class="fontclass">.icon-fanhuidingbu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-fanghudunpaianquan"></i>
                    <div class="name">防护、盾牌、安全</div>
                    <div class="fontclass">.icon-fanghudunpaianquan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-fangda"></i>
                    <div class="name">放大</div>
                    <div class="fontclass">.icon-fangda</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-fuwuqi"></i>
                    <div class="name">服务器</div>
                    <div class="fontclass">.icon-fuwuqi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-aixin"></i>
                    <div class="name">爱心</div>
                    <div class="fontclass">.icon-aixin</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-aixin_"></i>
                    <div class="name">爱心_2</div>
                    <div class="fontclass">.icon-aixin_</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-biaodiandidian"></i>
                    <div class="name">标点、地点</div>
                    <div class="fontclass">.icon-biaodiandidian</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-biaodiandidian_"></i>
                    <div class="name">标点、地点_2</div>
                    <div class="fontclass">.icon-biaodiandidian_</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-biaoji"></i>
                    <div class="name">标记</div>
                    <div class="fontclass">.icon-biaoji</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-biaoqian"></i>
                    <div class="name">标签</div>
                    <div class="fontclass">.icon-biaoqian</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-bingtutongji"></i>
                    <div class="name">饼图统计</div>
                    <div class="fontclass">.icon-bingtutongji</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-bofang"></i>
                    <div class="name">播放</div>
                    <div class="fontclass">.icon-bofang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-cuowu"></i>
                    <div class="name">错误</div>
                    <div class="fontclass">.icon-cuowu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-bofang1"></i>
                    <div class="name">播放</div>
                    <div class="fontclass">.icon-bofang1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-quchujinzhi"></i>
                    <div class="name">去除、禁止</div>
                    <div class="fontclass">.icon-quchujinzhi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-quanping_"></i>
                    <div class="name">全屏_2</div>
                    <div class="fontclass">.icon-quanping_</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-qunzu"></i>
                    <div class="name">群组</div>
                    <div class="fontclass">.icon-qunzu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-renminbi"></i>
                    <div class="name">人民币</div>
                    <div class="fontclass">.icon-renminbi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-rili"></i>
                    <div class="name">日历</div>
                    <div class="fontclass">.icon-rili</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-sanjiaojiantoushang"></i>
                    <div class="name">三角箭头上</div>
                    <div class="fontclass">.icon-sanjiaojiantoushang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shanchu"></i>
                    <div class="name">删除</div>
                    <div class="fontclass">.icon-shanchu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shang_"></i>
                    <div class="name">上_2</div>
                    <div class="fontclass">.icon-shang_</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shangyixiang"></i>
                    <div class="name">上一项</div>
                    <div class="fontclass">.icon-shangyixiang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shezhi"></i>
                    <div class="name">设置</div>
                    <div class="fontclass">.icon-shezhi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-geren"></i>
                    <div class="name">个人</div>
                    <div class="fontclass">.icon-geren</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-gaojisousuo"></i>
                    <div class="name">高级搜索</div>
                    <div class="fontclass">.icon-gaojisousuo</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-gerenzhongxintouxiang"></i>
                    <div class="name">个人中心、头像</div>
                    <div class="fontclass">.icon-gerenzhongxintouxiang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-guanbi"></i>
                    <div class="name">关闭</div>
                    <div class="fontclass">.icon-guanbi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-guanbizhijiao"></i>
                    <div class="name">关闭直角</div>
                    <div class="fontclass">.icon-guanbizhijiao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-hanbaocaidan"></i>
                    <div class="name">汉堡菜单</div>
                    <div class="fontclass">.icon-hanbaocaidan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-huifu"></i>
                    <div class="name">恢复</div>
                    <div class="fontclass">.icon-huifu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jinzhi"></i>
                    <div class="name">禁止</div>
                    <div class="fontclass">.icon-jinzhi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-mimasuo"></i>
                    <div class="name">密码、锁</div>
                    <div class="fontclass">.icon-mimasuo</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-putongtishi"></i>
                    <div class="name">普通提示</div>
                    <div class="fontclass">.icon-putongtishi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shuangjiantoushang"></i>
                    <div class="name">双箭头上</div>
                    <div class="fontclass">.icon-shuangjiantoushang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-suoxiao"></i>
                    <div class="name">缩小</div>
                    <div class="fontclass">.icon-suoxiao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-tianjiazhankaizhijiao"></i>
                    <div class="name">添加、展开直角</div>
                    <div class="fontclass">.icon-tianjiazhankaizhijiao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-tiaoxingtongji"></i>
                    <div class="name">条形统计</div>
                    <div class="fontclass">.icon-tiaoxingtongji</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-tingzhi"></i>
                    <div class="name">停止</div>
                    <div class="fontclass">.icon-tingzhi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-tongxunlu"></i>
                    <div class="name">通讯录</div>
                    <div class="fontclass">.icon-tongxunlu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-tupian"></i>
                    <div class="name">图片</div>
                    <div class="fontclass">.icon-tupian</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-tuichuguanbi"></i>
                    <div class="name">退出、关闭</div>
                    <div class="fontclass">.icon-tuichuguanbi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-wancheng"></i>
                    <div class="name">完成</div>
                    <div class="fontclass">.icon-wancheng</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-wanchengzhijiao"></i>
                    <div class="name">完成直角</div>
                    <div class="fontclass">.icon-wanchengzhijiao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-sousuo"></i>
                    <div class="name">搜索</div>
                    <div class="fontclass">.icon-sousuo</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-weixian"></i>
                    <div class="name">危险</div>
                    <div class="fontclass">.icon-weixian</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shijian"></i>
                    <div class="name">时间</div>
                    <div class="fontclass">.icon-shijian</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shipingtonghua"></i>
                    <div class="name">视屏通话</div>
                    <div class="fontclass">.icon-shipingtonghua</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shoucang"></i>
                    <div class="name">收藏</div>
                    <div class="fontclass">.icon-shoucang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shouqi"></i>
                    <div class="name">收起</div>
                    <div class="fontclass">.icon-shouqi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shoucang_"></i>
                    <div class="name">收藏_2</div>
                    <div class="fontclass">.icon-shoucang_</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shouqizhijiao"></i>
                    <div class="name">收起直角</div>
                    <div class="fontclass">.icon-shouqizhijiao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shouye"></i>
                    <div class="name">首页</div>
                    <div class="fontclass">.icon-shouye</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shuxiebianji"></i>
                    <div class="name">书写、编辑</div>
                    <div class="fontclass">.icon-shuxiebianji</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shuaxin"></i>
                    <div class="name">刷新</div>
                    <div class="fontclass">.icon-shuaxin</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xiayixiang"></i>
                    <div class="name">下一项</div>
                    <div class="fontclass">.icon-xiayixiang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xia_"></i>
                    <div class="name">下_2</div>
                    <div class="fontclass">.icon-xia_</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xianshikejian"></i>
                    <div class="name">显示、可见</div>
                    <div class="fontclass">.icon-xianshikejian</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xiaoxi_"></i>
                    <div class="name">消息_2</div>
                    <div class="fontclass">.icon-xiaoxi_</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xiaoxi_1"></i>
                    <div class="name">消息_3</div>
                    <div class="fontclass">.icon-xiaoxi_1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xinjianwenjianjia"></i>
                    <div class="name">新建文件夹</div>
                    <div class="fontclass">.icon-xinjianwenjianjia</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xinzengfuwuqi"></i>
                    <div class="name">新增服务器</div>
                    <div class="fontclass">.icon-xinzengfuwuqi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xinzengzuyuan"></i>
                    <div class="name">新增组员</div>
                    <div class="fontclass">.icon-xinzengzuyuan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xunwen"></i>
                    <div class="name">询问</div>
                    <div class="fontclass">.icon-xunwen</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yincangbukejian"></i>
                    <div class="name">隐藏、不可见</div>
                    <div class="fontclass">.icon-yincangbukejian</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yinzhang"></i>
                    <div class="name">印章</div>
                    <div class="fontclass">.icon-yinzhang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-wenjian_"></i>
                    <div class="name">文件_2</div>
                    <div class="fontclass">.icon-wenjian_</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-youjian"></i>
                    <div class="name">邮件</div>
                    <div class="fontclass">.icon-youjian</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-wenjiantianjia"></i>
                    <div class="name">文件添加</div>
                    <div class="fontclass">.icon-wenjiantianjia</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-wuxianwang"></i>
                    <div class="name">无线网</div>
                    <div class="fontclass">.icon-wuxianwang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zhankaitianjia"></i>
                    <div class="name">展开、添加</div>
                    <div class="fontclass">.icon-zhankaitianjia</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zhexiantongji"></i>
                    <div class="name">折线统计</div>
                    <div class="fontclass">.icon-zhexiantongji</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zhengque"></i>
                    <div class="name">正确</div>
                    <div class="fontclass">.icon-zhengque</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zhinanzhendaohang"></i>
                    <div class="name">指南针、导航</div>
                    <div class="fontclass">.icon-zhinanzhendaohang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zhongyaotishi"></i>
                    <div class="name">重要提示</div>
                    <div class="fontclass">.icon-zhongyaotishi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zuo"></i>
                    <div class="name">左</div>
                    <div class="fontclass">.icon-zuo</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zuo_"></i>
                    <div class="name">左_2</div>
                    <div class="fontclass">.icon-zuo_</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-youjian_"></i>
                    <div class="name">邮件_2</div>
                    <div class="fontclass">.icon-youjian_</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-you_"></i>
                    <div class="name">右_2</div>
                    <div class="fontclass">.icon-you_</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yuyin"></i>
                    <div class="name">语音</div>
                    <div class="fontclass">.icon-yuyin</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-you"></i>
                    <div class="name">右</div>
                    <div class="fontclass">.icon-you</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yuandiancaidan"></i>
                    <div class="name">圆点菜单</div>
                    <div class="fontclass">.icon-yuandiancaidan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yunshangchuan"></i>
                    <div class="name">云上传</div>
                    <div class="fontclass">.icon-yunshangchuan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yunxiazai"></i>
                    <div class="name">云下载</div>
                    <div class="fontclass">.icon-yunxiazai</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zanting"></i>
                    <div class="name">暂停</div>
                    <div class="fontclass">.icon-zanting</div>
                </li>
            
        </ul>

    </div>
    
    <div class="main markdown">
        <h1>粗细结合线性 图标</h1>
        <ul class="icon_lists clear">
            
                <li>
                <i class="icon iconfont icon-bianji"></i>
                    <div class="name">编辑</div>
                    <div class="fontclass">.icon-bianji</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-daipingjia"></i>
                    <div class="name">待评价</div>
                    <div class="fontclass">.icon-daipingjia</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-fenxiang"></i>
                    <div class="name">分享</div>
                    <div class="fontclass">.icon-fenxiang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-daishiyong"></i>
                    <div class="name">待使用</div>
                    <div class="fontclass">.icon-daishiyong</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dianhua"></i>
                    <div class="name">电话</div>
                    <div class="fontclass">.icon-dianhua</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-jifen"></i>
                    <div class="name">积分</div>
                    <div class="fontclass">.icon-jifen</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-majiangtai"></i>
                    <div class="name">麻将台</div>
                    <div class="fontclass">.icon-majiangtai</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-paiyou"></i>
                    <div class="name">牌友</div>
                    <div class="fontclass">.icon-paiyou</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-qianbao"></i>
                    <div class="name">钱包</div>
                    <div class="fontclass">.icon-qianbao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-saoma"></i>
                    <div class="name">扫码</div>
                    <div class="fontclass">.icon-saoma</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-quebi"></i>
                    <div class="name">雀币</div>
                    <div class="fontclass">.icon-quebi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shanchu"></i>
                    <div class="name">删除</div>
                    <div class="fontclass">.icon-shanchu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shoudiantong"></i>
                    <div class="name">手电筒</div>
                    <div class="fontclass">.icon-shoudiantong</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shuaxin"></i>
                    <div class="name">刷新</div>
                    <div class="fontclass">.icon-shuaxin</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-sousuo"></i>
                    <div class="name">搜索</div>
                    <div class="fontclass">.icon-sousuo</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shezhi"></i>
                    <div class="name">设置</div>
                    <div class="fontclass">.icon-shezhi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-wode"></i>
                    <div class="name">我的</div>
                    <div class="fontclass">.icon-wode</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xiaoxi"></i>
                    <div class="name">消息</div>
                    <div class="fontclass">.icon-xiaoxi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xiangqu"></i>
                    <div class="name">想去</div>
                    <div class="fontclass">.icon-xiangqu</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yiquxiao"></i>
                    <div class="name">已取消</div>
                    <div class="fontclass">.icon-yiquxiao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yudingchenggong"></i>
                    <div class="name">预订成功</div>
                    <div class="fontclass">.icon-yudingchenggong</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-youxi"></i>
                    <div class="name">游戏</div>
                    <div class="fontclass">.icon-youxi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yudingshibai"></i>
                    <div class="name">预订失败</div>
                    <div class="fontclass">.icon-yudingshibai</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zhaozhuo"></i>
                    <div class="name">找桌</div>
                    <div class="fontclass">.icon-zhaozhuo</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zuanshi"></i>
                    <div class="name">钻石</div>
                    <div class="fontclass">.icon-zuanshi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zuobiao"></i>
                    <div class="name">坐标</div>
                    <div class="fontclass">.icon-zuobiao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-daifukuan"></i>
                    <div class="name">代付款</div>
                    <div class="fontclass">.icon-daifukuan</div>
                </li>
        </ul>
    </div>
    
    
</body>

</html>