<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/jdbc">
<head>
    <meta charset="utf-8"/>
    <title>修改密码--layui后台管理模板 2.0</title>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" href="/resource/common/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/resource/css/common.css" media="all"/>
</head>
<body>
<blockquote class="layui-elem-quote quoteBox layui-form">
    <div class="layui-form">
        <div class="layui-row ">
            <div class="layui-col-md2">
                <div class="layui-form-item">
                    <label class="layui-form-label">姓名：</label>
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <input type="text" id="userName" name="userName" class="layui-input" placeholder=""/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md2">
                <div class="layui-form-item">
                    <label class="layui-form-label">日期：</label>
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <input type="text" id="time" name="time" placeholder="" class="layui-input"
                                   placeholder=""/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md2">
                <div class="layui-inline tableId">
                    <button class="layui-btn" data-type="reload" id="search">搜索</button>
                    <button class="layui-btn revocation" data-type="reload" id="revocation">撤销</button>
                </div>
            </div>
        </div>

    </div>
</blockquote>
<table id="userTables" lay-filter="userTables"></table>
<div th:if="${sign}==all">
    <table id="tomoTables" lay-filter="tomoTables"></table>
</div>
<script type="text/html" id="operate">
    <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit">编辑</a>
</script>
<script type="text/html" id="header">
    <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="add">新增</a>
</script>
<script type="text/javascript" src="/resource/common/layui/layui.js"></script>
<script type="text/javascript" src=" /resource/js/user.js"></script>
<script type="text/javascript" th:inline="javascript">


    layui.use(['table', 'layer', 'laydate', 'form'], function () {
        var table = layui.table,
            $ = layui.$,
            layer = layui.layer,
            form = layui.form,
            laydate = layui.laydate;
        laydate.render({
            elem: '#time',
            type: 'month'
        });
        var sign = [[${sign}]]
        var tableIns = table.render({
            elem: '#userTables'
            , url: '/assessment/assessmentTable.do' //数据接口
            , method: 'get'
            , toolbar: '#header'
            , page: true //开启分页
            , id: 'tableId'
            , where: {
                sign: sign
            }
            , limits: [10, 15, 30]
            , limit: 30
            , cols: [
                [ //表头
                    {'type': 'checkbox', 'fixed': 'left'}
                    , {field: 'index', title: '序号'}
                    , {field: 'userName', title: '员工姓名'}
                    , {field: 'dept', title: '部门'}
                    , {field: 'time', title: '打卡日期'}
                    , {field: 'attendance', title: '打卡时间'}
                    , {field: 'performance', title: '打卡地点'}
                    , {field: 'absenteeism', title: '工号'}
                    , {field: 'late', title: '迟到'}
                    , {field: 'vacate', title: '休假'}
                    , {title: '操作', toolbar: '#operate', 'fixed': 'right'}
                ]
            ]
        });
        //监听工具条
        table.on('tool(userTables)', function (obj) {
            var data = obj.data;
            console.log(data);
            if (obj.event === 'edit') {
                //修改用户
                layer.open({
                    type: 2,
                    title: "修改信息",
                    shadeClose: false, //点击遮罩关闭层
                    area: ['450px', '400px'],
                    content: "/assessment/editHouse.do?id=" + data.id
                });
            }
        });
        //搜索
        $('#search').on('click', function () {
            console.log("搜索执行")
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        table.on('toolbar(userTables)', function (obj) {
            if (obj.event === 'add') {
                //修改用户
                layer.open({
                    type: 2,
                    title: "新增",
                    shadeClose: false, //点击遮罩关闭层
                    area: ['450px', '400px'],
                    content: "/assessment/addHouse.do"
                });
            }
        });
        active = {
            reload: function () {
                var userName = $("#userName").val();
                var time = $("#time").val();
                var dept = $("#dept").val();
                console.log(status);
                //执行重载
                table
                    .reload('tableId', {
                        method: 'get'
                        , page: {
                            curr: 1 //重新从第 1 页开始
                        }
                        , where: {
                            userName: userName,
                            time: time,
                            dept: dept,
                        }
                    });
            }
        };
    });
</script>

</body>
</html>