<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wyy.ityuyao.mapper.AssessmentMapper">
    <select id="selectAssessment" resultType="com.wyy.ityuyao.entity.Assessment">
        select distinct a.*,t.name as dept from gm_assessment a,gm_team t,gm_team_user tu
        <where>
            tu.userId=a.userId and t.id=tu.teamId
            <if test="departmentId!= null and departmentId !=''">
                and t.departmentId=#{departmentId}
            </if>
            <if test="assessment.dept!= null and assessment.dept !=''">
                and a.dept=#{assessment.dept}
            </if>
            <if test="assessment.time!= null and assessment.time !=''">
                and a.time=#{assessment.time}
            </if>
            <if test="assessment.userName!= null and assessment.userName !=''">
                and a.userName=#{assessment.userName}
            </if>
        </where>
    </select>
</mapper>